.producto, .ventas{
		 background: -webkit-linear-gradient(#8a262b, #e39d57);
}
.cliente{
	background: -webkit-linear-gradient(#8a262b, #e39d57);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	

}
.index{
    background: -webkit-linear-gradient(#8a262b, #e39d57);
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
		
	
}
.ventase{
	background: #8a262b;
}
.todo-index{
	display: blocK;
	text-align: center;
	margin-bottom: 7cm;
	margin-top: 2cm;
}
.formulario-home{
  display: block; 
  color: white;
  border-radius: 1.2rem;
  text-align:center;
}
.formulario-home form button,.formulario-home form div input{
	margin: 15px auto;
}
.formulario{
	text-align: center;
}
.titulo-inicio{

	color: white;
	display: block;
	text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.titulo{
	color: white;
	background-color: #341904;
	display: block;
	text-align: center;
    padding: 20px;
    margin-top: 10px;
    border-radius: .5rem;
}
.sub-titulo{
	color: white;
	background-color: #341904;
	display: block;
	text-align: center;
    padding: 15px;
    margin-top: 30px;
    border-radius: .2rem;
    transition: 0.25s;
}
span,input, select{

   font-size: 20px;
   color:white;
}

.form-control{
   display: block;
   margin: 15px auto;
	background-color: #341904;
	color: white;
	width: 340px;
	height:40px;
	padding: 14px 10px;
	text-align: center;
	outline: none;
	border: 1.3px solid white;
	border-radius: 10px;
}
.form-control:focus{
   transition: .4s;
   width: 390px;
   color: white;
   background-color: #e39d57;
   border: 1.5px solid #341904;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(0, 0, 0.092);

}
span{
	margin-left: 3px;
	
}
label{
	color: #fff;
	 font-size: 20px;
}

.modal-body form div label{
	 color: #e39d57;;
	 font-size: 20px;
}
.modal-footer, .modal-header{
	background-color: #e39d57;
	color: white;
}

.cancelar{

	   width: 200px;
	   font-size: 20px;
	border:0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid gray;
    padding: 14px 40px;
    outline: none;
	color: white;
	border-radius: 24px;
    transition: 0.25s;
	cursor: pointer;
}
.agregar{
	border:0;
    background:none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    outline: none;
	color: white;
	border-radius: 24px;
    transition: 0.25s;
	cursor: pointer;
}
.cancelar:hover{
	background-color:#909497;
	text-decoration: none;
	color: black;
transition: .2s;
}
.agregar:hover{
	background-color:#341904;;
	transition: .2s;
}
.cabeza{
	background-color: #0A0A22 ; 
	  padding: .4cm;
}
.cabeza a{
	color: #FFF;
	transition: .1s;
	font-size: 17px;
}
.cabeza a:hover{
		color: #FFF;
	background-color: #e39d57;
		opacity: 80%;
	transition: .3s;	
}
.dropdown-menu {
 	background-color:white;
 	transition: .2s;
}



.table{
	background-color: whitesmoke;

}

.carta{
	margin-top: 1cm;
	background-color: #e39d57;
	color: white;
	border-color: gray;
}
.carta-boton{
	background-color: #ff7000;
	font-size: 20px;
	}
.carta-boton:hover{
	background-color: #341904;;
	font-size: 22px;
	transition: .2s;
	opacity: 90%;
}
